.main {
  margin: 40px auto;
  align-items: center;
  display: flex;  
  justify-content: space-around;
  flex-direction: column;  
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  max-width: 900px;
  background-image: linear-gradient(8deg, white, rgb(139, 138, 138), white, rgb(139, 138, 138));
}

.conversor {  
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  min-width: 150px;
  background: cornsilk;
  box-shadow: -2px -1px 6px black;
  border-radius: 5px;
}

.container {  
  display: flex;
  flex-wrap: wrap;
}  

.button {
  cursor: pointer;
  margin: 5px;
  background-color: rgb(211, 209, 201);
  text-decoration: none;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  transition: all 0.5s;
  outline: none;
}

.button:hover {
  border-radius: 4px;
  background: rgb(165, 196, 243);
}

a {
  color: black;
  transition: all 2s;
}

a:hover {  
  text-decoration: none;
}

.subtitle {
  text-align: center;
}

@media (max-width: 610px) {  
  .conversor {
    margin: 10px auto;    
  }
}